.bar {
  display: block;
  height: 2px;
  width: 60%;
  border-radius: 25px;
  background-color: white;
  margin: 5px;
  transition: transform 0.3s ease-in-out;
} 
.h-screen.bg-red-400 {
    background-color: #4b5563;
  }
/* Style for the middle bar when the sidebar is open */
button.translate-x-60 .bar:nth-child(2) {
  opacity: 0; /* Hide the middle bar when the sidebar is open */
}

/* Rotate the top and bottom bars to form an "X" when the sidebar is open */
button.translate-x-60 .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

button.translate-x-60 .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
